body{
    color: rgb(151, 96, 96);
    background: rgb(196, 157, 160)
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(111, 47, 47);
    padding: 20px;
    font-size: 32px;
    color:rgb(208, 50, 50)
}
